In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('bourse.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2609 entries, 0 to 2608
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date_shamsi  2609 non-null   object
 1   full_index   2603 non-null   float64
 2   turnover     2609 non-null   float64
 3   value        2609 non-null   float64
dtypes: float64(3), object(1)
memory usage: 81.7+ KB

In [4]:
data.head()

  Date_shamsi  full_index     turnover         value
0  1390-01-06     23756.3  116210000.0  4.258800e+11
1  1390-01-07     24199.8  242110000.0  8.081200e+11
2  1390-01-08     24287.8  232860000.0  6.975900e+11
3  1390-01-09     24486.6  208030000.0  6.910500e+11
4  1390-01-10     24486.0  360400000.0  1.192890e+12

In [7]:
rc = input()

5

In [9]:
rc = 5
data['movingsum'] = data['full_index'].rolling(rc).sum()
data['movingaverage'] = data['movingsum']/rc
data.head(10)

  Date_shamsi  full_index     turnover         value  movingsum  movingaverage
0  1390-01-06     23756.3  116210000.0  4.258800e+11        NaN            NaN
1  1390-01-07     24199.8  242110000.0  8.081200e+11        NaN            NaN
2  1390-01-08     24287.8  232860000.0  6.975900e+11        NaN            NaN
3  1390-01-09     24486.6  208030000.0  6.910500e+11        NaN            NaN
4  1390-01-10     24486.0  360400000.0  1.192890e+12   121216.5       24243.30
5  1390-01-14     24543.6  169730000.0  5.487900e+11   122003.8       24400.76
6  1390-01-15     25023.3  368480000.0  1.343620e+12   122827.3       24565.46
7  1390-01-16     25550.4  413230000.0  1.626900e+12   124089.9       24817.98
8  1390-01-17     25885.1  545670000.0  2.062660e+12   125488.4       25097.68
9  1390-01-20     26222.7  817580000.0  3.029210e+12   127225.1       25445.02